




 

 


 .solutions {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url("../images/solutions-bg.jpg");
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding: 188px 0;
 }
.solutions-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color:#ffffff;
        max-width: 496px;
        margin: 0 auto 48px;
}
.order-btn:hover,
.order-btn:focus {
    background-color: #404BBF;}

.order-btn {
    display: block;
    min-width: 169px;
    background-color: #4d5ae5;
    height: 56px;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

.features {
    padding: 120px 0;
}
.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
margin-bottom: 8px;
}

.features-list {
display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;}

.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.features-item {
    width: calc((100% - 72px) / 4);
    list-style-type: none;
}
.feature-icon-box {
    display: flex;
       align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }
 .team-title {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
    margin-bottom: 8px;
     text-align: center;
     }

 .team-text {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
text-align: center;
    }

 .team-section {
     background-color:#F4F4FD;
     padding: 120px 0;
   
 }
 .team-card {
    background-color: #FFFFFF;
   width: calc((100% - 72px) / 4);
       overflow: hidden;
    border-radius: 0 0 4px 4px;
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
 }

 img {
     display: block;
      }
 .team-info {
         padding: 32px 0;}

.team-list {
    display: flex;
       gap: 24px;
       margin: 0;
    padding: 0;
    list-style: none;
}
 .features-title {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
 }

 .feature-icon-box svg {
     fill: var(--primary-color);}

 .team-socials {
    display: flex;
    justify-content: center;    
    gap: 24px;
     list-style: none;
    margin: 0;
     padding: 0; }

     .social-item {
width: 40px;
     height: 40px;

     }

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.team-socials .social-link:hover,
.team-socials .social-link:focus {
    background-color: #404bbf;
}

.social-icon {
       width: 16px;
        height: 16px;
      fill: #f4f4fd;}

    
    .section-title {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px;}

.card-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
         }
.card-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
                 }
.projects {
    padding-top: 120px;
    padding-bottom: 120px;
   }
.section-title {
    margin-bottom: 72px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.project-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) / 3);
}
.project-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);}

    .project-thumb {
    position: relative;
                 
                    overflow: hidden;}

        .project-overlay {
            position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 40px 32px;
                background-color: #4d5ae5;
                color: #f4f4fd;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                transform: translateY(100%);
                transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}
            
     .project-info {
                    padding: 32px 16px;
                    border: 1px solid #e7e9fc;
                    border-top: none;}

        .project-item:hover .project-overlay {
            transform: translateY(0%);}

.card-title {
       margin-bottom: 8px;
}


 


 .page-footer {
     background-color: #2e2f42;
     padding: 100px 0;
 }
 .footer-logo {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5;
     text-decoration: none;
    display: inline-block;
        margin-bottom: 16px;
      }



.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-text {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#f4f4fd;
        max-width: 264px;
            }


.footer-brand {
max-width: 264px;
    flex: 0 0 264px;
    margin-right: 0;
}

.footer-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
     letter-spacing: 0.02em;
        margin-bottom: 16px;
        color: var(--white);
    }

        .page-footer .container {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 24px;
            flex-wrap: nowrap;
        }
  
.social-list {
    display: flex;
    gap: 16px;
}

.social-item {
    width: 40px;
    height: 40px;
}
.footer-socials {
    min-width: 200px;
}
.footer-socials .social-link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 50%;
 display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials .social-link:hover,
.footer-socials .social-link:focus {
    background-color: #31d0aa;
}

.footer-socials .social-icon {
    width: 24px;
    height: 24px;
    fill: var(--icon-fill);
}

.social-icon {
    fill: #f4f4fd;}


 
 .subscribe-box {
     margin-left: auto;
     text-align: left;
 }

 .subscribe-title {
     margin-bottom: 16px;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #fff;
 }

 .subscribe-form {
     display: flex;
     align-items: center;
     gap: 24px;
     margin: 0;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #fff;
 }

 .subscribe-label {
     display: flex;
     align-items: center;
     margin: 0;
 }

 
 .subscribe-input {
     width: 264px;
     height: 40px;
     border: 1px solid #ffffff;
     background-color: transparent;
     font-size: 12px;
     line-height: 2;
     letter-spacing: 0.04em;
     padding-left: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
     color: #ffffff;
 }

 .subscribe-input::placeholder {
     color: #ffffff;
 }

 .subscribe-button {
     min-width: 165px;
     height: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: #ffffff;
     cursor: pointer;
     background-color: #4d5ae5;
     border: none;
     border-radius: 4px;
 }

 .subscribe-icon {
     margin-left: 16px;
     display: block;
     fill: currentColor;
     stroke: currentColor;
     pointer-events: none;
 }
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px;}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -60%) scale(1.5);
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-icon {
    width: 8px;
    height: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
    fill: #ffffff;
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.input-container {
    margin-bottom: 8px;
}

.input-wrapper {
    position: relative;
}

.form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4D5AE5;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-input:focus+.input-icon {
    fill: #4D5AE5;
}

.form-group {
    margin-bottom: 16px;
}

.form-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
    border-color: #4D5AE5;
}


.checkbox-container {
    margin-bottom: 24px;
}


.checkbox-input.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.checkbox-label {
 
    align-items: center;
    gap: 8px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;}


span.checkbox-box {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        fill: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.checkbox-icon {
    width: 10px;
    height: 8px;
}


.checkbox-input:checked+.checkbox-label .checkbox-box {
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none;
    color: #f4f4fd;}

.privacy-policy {
    color: #4d5ae5;
}

.modal-submit {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit:hover,
.modal-submit:focus {
    background-color: #404bbf;
}